{% extends '../client/base.html' %}
{% load static %}

{% block content %}
     <!-- league-result-section start -->
     <section class="league-result-section section-padding section-bg">
         <div class="container">
             <div class="row justify-content-center">
                 <div class="col-lg-6">
                     <div class="section-header text-center">
                         <h2 class="section-title">World League Tables</h2>
                         <p>On insensible possession oh particular attachment at excellence in. The books arose but
                             miles happy she.</p>
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-lg-12">
                     <div class="league-result-area">
                         <div class="league-result-area-inner">
                             <div class="league-result-item d-flex align-items-center justify-content-between">
                                 <div class="date-block">
                                     <span class="date">05, Mar</span>
                                 </div>
                                 <div class="team-block d-flex justify-content-center align-items-center">
                                     <div class="team team--left">
                                         <span class="name">Uruguay</span>
                                         <span class="flag"><img src="assets/images/flag/uruguay.jpg"
                                                 alt="image"></span>
                                     </div>
                                     <span class="vs-text">VS</span>
                                     <div class="team team--right">
                                         <span class="name">brazil</span>
                                         <span class="flag"><img src="assets/images/flag/brazil.jpg" alt="image"></span>
                                     </div>
                                 </div>
                                 <div class="result-block justify-content-center">
                                     <p>
                                         <span class="left-team-result">1</span>
                                         <span class="right-team-result">3</span>
                                     </p>
                                 </div>
                                 <div class="button-block justify-content-end">
                                     <a href="#0" class="cmn-btn btn-lg">summary</a>
                                 </div>
                             </div><!-- league-result-item end -->
                             <div class="league-result-item d-flex align-items-center justify-content-between">
                                 <div class="date-block">
                                     <span class="date">05, Mar</span>
                                 </div>
                                 <div class="team-block d-flex justify-content-center align-items-center">
                                     <div class="team team--left">
                                         <span class="name">Argentina</span>
                                         <span class="flag"><img src="assets/images/flag/argentina.jpg"
                                                 alt="image"></span>
                                     </div>
                                     <span class="vs-text">VS</span>
                                     <div class="team team--right">
                                         <span class="name">swizarland</span>
                                         <span class="flag"><img src="assets/images/flag/swizerland.jpg"
                                                 alt="image"></span>
                                     </div>
                                 </div>
                                 <div class="result-block justify-content-center">
                                     <p>
                                         <span class="left-team-result">1</span>
                                         <span class="right-team-result">3</span>
                                     </p>
                                 </div>
                                 <div class="button-block justify-content-end">
                                     <a href="#0" class="cmn-btn btn-lg">summary</a>
                                 </div>
                             </div><!-- league-result-item end -->
                             <div class="league-result-item d-flex align-items-center justify-content-between">
                                 <div class="date-block">
                                     <span class="date">05, Mar</span>
                                 </div>
                                 <div class="team-block d-flex justify-content-center align-items-center">
                                     <div class="team team--left">
                                         <span class="name">england</span>
                                         <span class="flag"><img src="assets/images/flag/england.jpg"
                                                 alt="image"></span>
                                     </div>
                                     <span class="vs-text">VS</span>
                                     <div class="team team--right">
                                         <span class="name">germany</span>
                                         <span class="flag"><img src="assets/images/flag/germany.jpg"
                                                 alt="image"></span>
                                     </div>
                                 </div>
                                 <div class="result-block justify-content-center">
                                     <p>
                                         <span class="left-team-result">1</span>
                                         <span class="right-team-result">3</span>
                                     </p>
                                 </div>
                                 <div class="button-block justify-content-end">
                                     <a href="#0" class="cmn-btn btn-lg">summary</a>
                                 </div>
                             </div><!-- league-result-item end -->
                             <div class="league-result-item d-flex align-items-center justify-content-between">
                                 <div class="date-block">
                                     <span class="date">05, Mar</span>
                                 </div>
                                 <div class="team-block d-flex justify-content-center align-items-center">
                                     <div class="team team--left">
                                         <span class="name">USA</span>
                                         <span class="flag"><img src="assets/images/flag/usa.jpg" alt="image"></span>
                                     </div>
                                     <span class="vs-text">VS</span>
                                     <div class="team team--right">
                                         <span class="name">argentina</span>
                                         <span class="flag"><img src="assets/images/flag/argentina.jpg"
                                                 alt="image"></span>
                                     </div>
                                 </div>
                                 <div class="result-block justify-content-center">
                                     <p>
                                         <span class="left-team-result">1</span>
                                         <span class="right-team-result">3</span>
                                     </p>
                                 </div>
                                 <div class="button-block justify-content-end">
                                     <a href="#0" class="cmn-btn btn-lg">summary</a>
                                 </div>
                             </div><!-- league-result-item end -->
                             <div class="league-result-item d-flex align-items-center justify-content-between">
                                 <div class="date-block">
                                     <span class="date">05, Mar</span>
                                 </div>
                                 <div class="team-block d-flex justify-content-center align-items-center">
                                     <div class="team team--left">
                                         <span class="name">swizarland</span>
                                         <span class="flag"><img src="assets/images/flag/swizerland.jpg"
                                                 alt="image"></span>
                                     </div>
                                     <span class="vs-text">VS</span>
                                     <div class="team team--right">
                                         <span class="name">koria</span>
                                         <span class="flag"><img src="assets/images/flag/koria.jpg" alt="image"></span>
                                     </div>
                                 </div>
                                 <div class="result-block justify-content-center">
                                     <p>
                                         <span class="left-team-result">1</span>
                                         <span class="right-team-result">3</span>
                                     </p>
                                 </div>
                                 <div class="button-block justify-content-end">
                                     <a href="#0" class="cmn-btn btn-lg">summary</a>
                                 </div>
                             </div><!-- league-result-item end -->
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </section>
     <!-- league-result-section end -->
{% endblock content %}
    