  <!-- banner-section start -->
  {% load static %}
  <section class="banner-section">
      <div class="banner-image-part">
          <div class="thumb-one"><img src="{% static 'images/elements/man-1.png'%}" alt="banner-image"></div>
          <div class="thumb-two"><img src="{% static 'images/elements/man-2.png'%}" alt="banner-image"></div>
          <div class="thumb-three"><img src="{% static 'images/elements/man-3.png'%}" alt="banner-image"></div>
          <div class="thumb-four"><img src="{% static 'images/elements/coin.png'%}" alt="banner-image"></div>
      </div>
      <div class="banner-content-area">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-8">
                      <div class="banner-content text-center">
                          <h1 class="banner-title wow fadeIn" data-wow-duration="0.5s" data-wow-delay="1s">Le monde des
                              pari sportif avec rapidbet</h1>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- banner-section end -->