  <!-- footer-section start -->
  <footer class="footer-section">
      <div class="footer-top">
          <div class="container">
              <div class="row">
                  <div class="col-lg-3 col-sm-6">
                      <div class="footer-widget widget-about">
                          <a class="site-logo site-title">RAPIDBET</a>
                          <ul class="address-list">
                              <li>9288 Peninsula Court Meriden, CT 06450</li>
                              <li>demo@demomail.com</li>
                              <li>+01-1234-9876</li>
                          </ul>
                          <ul class="social-links d-flex">
                              <li><a href="#0"><i class=" fa fa-facebook-f"></i></a></li>
                              <li><a href="#0"><i class=" fa fa-twitter"></i></a></li>
                              <li><a href="#0"><i class=" fa fa-youtube"></i></a></li>
                              <li><a href="#0"><i class=" fa fa-dribbble"></i></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                      <div class="footer-widget widget-menu">
                          <h3 class="widget-title">Menu</h3>
                          <ul class="menu-links">
                              <li><a href="#">Accueil</a></li>
                              <li><a href="#">Parier</a></li>
                              <li><a href="#">Résultats</a></li>
                              <li><a href="#">Contact</a></li>
                          </ul>
                      </div>
                  </div>
                  
                  <div class="col-lg-5 col-sm-6">
                      <div class="footer-widget widget-subscribe">
                          <h3 class="widget-title">subscribe</h3>
                          <div class="widget-subscribe-body">
                              <p>Lorem ipsum dolor sit amet, consectetur</p>
                              <form class="subscribe-form">
                                  <input type="email" name="subs-email" id="subs-email" class="subs-email"
                                      placeholder="Email Address">
                                  <input type="submit" value="Subscribe" class="sub-btn">
                              </form>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                  incididunt ut labore et dolore magna.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div><!-- footer-top end -->
      <div class="footer-bottom text-center">
          <div class="container">
              <p>2019 All Rights Reserved. - Created by <a href="index.html">madaraUchiwa</a></p>
          </div>
      </div>
  </footer>
  <!-- footer-section end -->